<div class="container_submenu d-flex justify-content-center">
    <div class="submenu d-flex justify-content-center">
        <ul class="list_submenu d-flex">
            <li class="item"><a class="link" href="">My products</a></li>
            <li class="item"><a class="link" href="">Clothes</a></li>
            <li class="item"><a class="link" href="">Bedding</a></li>
            <li class="item"><a class="link" href="">Mobility</a></li>
            <li class="item"><a class="link" href="">Others</a></li>
        </ul>
    </div>
</div>