<div class="container_submenu d-flex justify-content-center">
    <div class="submenu d-flex justify-content-center">
        <ul class="list_submenu d-flex">
            <li class="item"><a class="link" href="">My products</a></li>
            <li class="item"><a class="link" href="">{{secondCategory}}</a></li>
            <li class="item"><a class="link" href="">{{thirdCategory}}</a></li>
            <li class="item"><a class="link" href="">{{fourthCategory}}</a></li>
            <li class="item"><a class="link" href="">{{firstCategory}}</a></li>
        </ul>
    </div>
</div>

<div class="container principal_content">
    <div class="d-flex justify-content-between">
        <h2 class="tittle">Some Of Our Products</h2>
        <a class="button_sell" href="">Sell Product</a>
    </div>
    <hr class="line">
    <div class="d-flex justify-content-around flex-wrap mt-4">
        <ng-container *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
        </ng-container>
    </div>
</div>

<!--Footer-->
<footer>
        <div class="d-flex justify-content-between">
            <span class="text_owner">Create by Karol Giraldo  2019-2020</span>
            <img class="logo_footer" src="assets/logo.png" alt="Logo Oldie Molly">
        </div>
    </footer>