<div class="container_submenu d-flex justify-content-center">
    <div class="submenu d-flex justify-content-center">
        <ul class="list_submenu d-flex">
            <li class="item"><a class="link" href="">My products</a></li>
            <li class="item"><a class="link" href="">{{secondCategory}}</a></li>
            <li class="item"><a class="link" href="">{{thirdCategory}}</a></li>
            <li class="item"><a class="link" href="">{{fourthCategory}}</a></li>
            <li class="item"><a class="link" href="">{{firstCategory}}</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <app-product-card></app-product-card>
</div>