@import "src/styles.scss";

.card-product{
    background-color: $ligth_gray;
    border-radius: 2px;
    margin-bottom: 30px;
    transition: transform 1s;

    &:hover{
        transform: scale(.95);
        transition: transform 1s;
        box-shadow: 5px 10px 18px #dddddd;
        
    }

    .section_photo{
        position: relative;
        margin-top: 8px;
        .product_photo{
            padding:10px;
            border-radius: 20px;
            width: 200px;
            height: 200px;
        }

        .type{
            position: absolute;
            top:25px;
            left:20px;
            background-color: $red_color;
            padding: 5px 10px;
            color: white;
            font-weight: bold;
            font-size: 8px;
        }
    }

    .details{
        margin-top:10px;
        margin-bottom:20px;
        .name_product{
            font-size:14px;
            font-weight: bold;
        }

        .price{
            font-weight: bold;
            color:$red_color;
            font-size:18px;
            margin-top:5px;
        }
    }
}