
<div class="container">
    <div >
         <img class="img-fluid banner mb-5" src="assets/banner_order.png" alt="Photo Boy Smiling / Banner My Orders">
    </div>
    <div class="d-flex justify-content-between">
        <h2 class="tittle">My Sales</h2>
    </div>
    <hr class="line">
    <div *ngIf="notFound===''"class="d-flex justify-content-around flex-wrap mt-4">
        <ng-container *ngFor="let order of orders">
            <app-order-card [order]="order"></app-order-card>
        </ng-container>
    </div>
    <div *ngIf="notFound!==''" class="d-flex justify-content-center">
            <img class ="notFound img-fluid" src="assets/orders_warning.png" alt="Not Found Illustration">
    </div>
</div>

<!--Footer-->
<footer>
        <div class="d-flex justify-content-between">
            <span class="text_owner">Create by Karol Giraldo  2019-2020</span>
            <img class="logo_footer" src="assets/logo.png" alt="Logo Oldie Molly">
        </div>
</footer>