<div class="d-flex justify-content-center mb-5">
    <div class="icon">
        <img *ngIf="order.idCategory==3"class="img-fluid" src="../../assets/bedding_icon.png" alt="Baby Bed icon">
        <img *ngIf="order.idCategory==1"class="img-fluid" src="../../assets/other_icon.png" alt="Baby Toy icon">
        <img *ngIf="order.idCategory==2"class="img-fluid" src="../../assets/clothes_icon.png" alt="Baby Toy icon">
        <img *ngIf="order.idCategory==4"class="img-fluid" src="../../assets/mobility_icon.png" alt="Baby Toy icon">
    </div>
    <div class="divider">
        <hr class="line">
    </div>
    <div class="d-flex flex-column">
        <span class="name">Nombre Producto</span>
        <div class="d-flex justify-content-between">
            <span class="date">{{order.date}}</span>
            <span class="category">{{category}}</span>
        </div>
        <span class="price">{{order.totalPrice}}€</span>
    </div>
    <div *ngIf="showbutton==='show'" class="optional d-flex">
         <div class="divider">
            <hr class="line">
        </div>
        <a href="">Delete Order</a>
    </div>
</div>
