@import "src/styles.scss";
.icon{
    width:90px;
    align-self: center;
}

.divider{
    margin-right:10px;
    margin-left: 10px;
    .line{
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 80px;
        align-self: center;
    }
}

.name{
    color:$dark_gray;
    font-weight: bold;
    font-size:14px;
}

.date{
    color:$medium_gray;
    font-weight: bold;
    font-size: 10px; 
    margin-right: 20px;
}

.category{
    color: $yellow_color;
    font-weight: bold;
    font-size: 10px;
}

.price{
    margin-top:10px;
    font-size:25px;
    font-weight: bold;
    color:$red_color;
}

.optional{
    color:white;
    align-self: center;
    margin:auto;
    cursor: pointer;
    background-color: $red_color;
    transition: background-color 0.5s ease;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    &:hover{
        background-color: #d33c39;
        color:white;
    }
}

.buy{
    color:white;
    align-self: center;
    margin:auto;
    cursor: pointer;
    background-color: $yellow_color;
    transition: background-color 0.5s ease;
    cursor: pointer;
    padding: 10px 55px 10px 55px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    &:hover{
        background-color: #eacd9d;
        color:white;
    }
}