<div  class="d-flex justify-content-between">
    <div class="banner_image"></div>
    <div *ngIf="param==='login'" class=" d-flex flex-column login_section">
        <h2 class="tittle">Login</h2>
        <hr class="line">
        <label  class="label_form" for="email">Email Addres</label>
        <input class="input_form" type="text" name="email" id="email">
        <label class="label_form mt-3" for="password">Password</label>
        <input class="input_form" type="password" name="password" id="password">
        <input class="input_button" type="submit" value="Welcome">
    </div>
    <div *ngIf="param==='signup'" class=" d-flex flex-column sign_section">
        <h2 class="tittle">Sign Up</h2>
        <hr class="line">
        <form class="d-flex flex-column form" [formGroup]="registerForm">

            <label  class="label_form" for="name">Name</label>
            <input  formControlName="name"  class="input_form" type="text" required>

            <label  class="label_form" for="lastname">Lastname</label>
            <input   formControlName="lastname"  class="input_form" type="text" required>

            <label  class="label_form" for="email">Email Addres</label>
            <input   formControlName="email"  class="input_form" type="email"  required>

            <label class="label_form mt-3" for="password">Password</label>
            <input formControlName="password"  class="input_form" type="password"  required>

            <label class="label_form mt-3" for="password">Address</label>
            <input  formControlName="address"  class="input_form" type="address"  required>

            <!--Message Error-->
            <span *ngIf="incomplete==true" class="error">{{message}}</span>
            <input (click)="createUser()" class="input_button" type="submit" value="Create Account">
        </form>
    </div>
</div>