<div class="container d-flex justify-content-center product">   
    <div class="d-flex justify-content-center photo_section">
        <div class="big_photo">
            <img class="img-fluid" src="" alt="">
        </div>
        <div class="d-flex flex-column align-items-center small_photos">
            <div class="photo1">
                <img src="" alt="">
            </div>
            <div class="photo2">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="d-flex flex-column information">
        <div class="d-flex justify-content-center">
            <h2>Nombre del Porducto</h2>
            <span>Tipo de producto</span>
        </div>
        <div>
            <span>Categoria</span>
        </div>
        <div>
            <span>Precio</span>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vero vel praesentium libero dolorum consectetur consequuntur iste labore, 
                adipisci ut autem error ducimus eaque molestias, soluta a asperiores repudiandae officia.</p>
            <a href="">Buy It</a>
        </div>
    </div>
</div>