<div class = "header d-flex justify-content-center">
    <div class="con_header d-flex flex-column justify-content-end">
        <a (click)="signUpButton()" class="button_header">Let's get started</a>
    </div>
</div>

<div id="how_works"class="container">
    <!--How it works-->
    <div class="description">
        <h2 class="tittle">How it works</h2>
        <div class="d-flex justify-content-between mt-5 images_works"> 
            <div class="items d-flex flex-column align-items-center">
                <img class="icon_ilus" src="assets/stroller_section.png" alt="Illustration Stroller Icon">
                <h3 class="subtittle">Post it</h3>
                <p class="text">Take a photo of your product and upload.</p>
            </div>
            <div class="items d-flex flex-column align-items-center">
                <img  class="icon_ilus" src="assets/ipad_section.png" alt="Illustration Ipad Icon">
                <h3 class="subtittle margin_ex">Sell it</h3>
                <p class="text">What are you waiting for? If you don’t use it</p>
            </div>
            <div class="items d-flex flex-column align-items-center">
                <img class="icon_ilus" src="assets/box_section.png" alt="Illustration Box Icon">
                <h3 class="subtittle margin_exep">Ship it</h3>
                <p class="text">Box your product and receive your paid.</p>
            </div>
        </div>
    </div>

</div>

   <!--Some our products-->
   <div class="products">
        <h2 class="tittle"> Some our Products</h2>
        <div class="d-flex justify-content-center content_product">
            <div class="d-flex flex-column align-items-center card-product">
                <div class="photo_section">
                        <span class="type">New</span>
                    <div class="box_photo">
                        <img class="photo_product" src="assets/products_images/ballons1.jpg" alt="Photo of a Product">
                    </div>
                </div>

                <div class="details d-flex flex-column align-items-center flex-wrap">
                    <span class="name">Baby Crib Mobile</span>
                    <span class="price">27.3€</span>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center card-product">
                    <div class="photo_section">
                            <span class="type">New</span>
                        <div class="box_photo">
                            <img class="photo_product" src="assets/products_images/teepee1.jpg" alt="Photo of a Product">
                        </div>
                    </div>
    
                    <div class="details d-flex flex-column align-items-center flex-wrap">
                        <span class="name">Teepee Toddler</span>
                        <span class="price">25€</span>
                    </div>
            </div>

            <div class="d-flex flex-column align-items-center card-product">
                    <div class="photo_section">
                            <span class="type">New</span>
                        <div class="box_photo">
                            <img class="photo_product" src="assets/products_images/silicone1.jpg" alt="Photo of a Product">
                        </div>
                    </div>
    
                    <div class="details d-flex flex-column align-items-center flex-wrap">
                        <span class="name">Kit x10 Silicone</span>
                        <span class="price">20€</span>
                    </div>
            </div>
        </div>       
    </div>

    <!--Call to action for join us-->
    <div class="call_action d-flex flex-column align-items-center">
        <h2 class="invitation">Start Your Journey With Us</h2>
        <a (click)="signUpButton()" class="button_action">Join us now</a>
    </div>

    <!--Who we are-->
<div class="container mb-5">
    <div class="about" id="about">
        <h2 class="tittle">Who we are</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <img class="about_image img-responsive" src="assets/about_img.png" alt="Illustration">
            <p class="text_about">Oldie Molly is an online intermediary hosting service 
                that enables users to exchange and/or sale and/or purchase new or second hand baby products. 
                <br>
                <br>
                As a company we always think about the environment and that is why we created this 
                solution to do our bit.
                </p>
        </div>
    </div>
</div>

    <!--Footer-->
    <footer>
            <div class="d-flex justify-content-between">
                <span class="text_owner">Create by Karol Giraldo  2019-2020</span>
                <img class="logo_footer" src="assets/logo.png" alt="Logo Oldie Molly">
            </div>
        </footer>

    
